<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1 style="display:flex; justify-content: space-between; width: 100%;">
      <a href="/">Priyansh's Smoothy Store</a>
      <nav style="display:flex; justify-content: space-between; width: 10rem;">
        <a href="/login" style="font-size: medium;">Log in</a>
        <a href="/signup" style="font-size: medium;">Sign up</a>
      </nav>
    </h1>
  </nav>
  